h1 {
  font-family: 'Nanum Pen Script';
  font-size: 30px;
  color: blue;
}

h2, h3 {
  font-family: "Noto Sans CJK KR", sans-serif;
  font-size: 20px;
}

tt, code, pre {
  font-family: "D2 Coding", Consolas, monospace;
  font-size: 15px;
}

body {
  font-family: "나눔명조", "Nanum Myeongjo", "Noto Serif KR", serif;
  font-size: 15px;
}
