README.html
LAYOUT.html
FAQ.html
DESIGN.html
CONTRIBUTING.html
CONDUCT.html
*~
*.pyc
_site
.DS_Store
.ipynb_*
twitterOAuth.R
.httr-oauth
data/weather
data/raw_weather_data_aarhus.tar.gz
twitter_token.rds
data/project/
.Rproj.user
.Rhistory
data/\352\263\265\352\263\265\355\226\211\354\240\225\353\254\270\354\204\234 OCR/
data/공공행정문서 OCR
data/esg/
data/esg_joined.pdf
data/rconf/
